.ExportSolutionsBG {
    width: 100%;
    height: 100%;
    background-color: #F7F7F7;
    padding: 60px 0;
}

.tradeBg {
    text-align: center;
}

.paratRadetx {
    margin-bottom: 15px;
}

.tradeText {
    text-align: left;
    margin-top: 30px;
    font-family: "Roboto", sans-serif;
}

.howYOur {
    color: #171A31;
    font-size: 55px;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 15px;
    padding-top: 2rem;
}

.actnIsht {
    color: #0d6efd;
    font-size: 20px;
    font-weight: 500;
    font-family: "Roboto", sans-serif;
}


.tradeText p {
    color: #171a31b0;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.TrlBtn {
    background-color: #3884C7;
    color: #fff;
    border-radius: 40px;
    padding: 12px 36px !important;
    text-decoration: none;
    vertical-align: -webkit-baseline-middle;
    display: inline-block;
    text-align: center;
}

.frokDemo {
    border-color: #CACACA;
    border-radius: 100px;
    padding: 10px 25px;
    width: 300px;
    margin-left: 15px;
}

.formFlext {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding: 10px 0;
    gap: 1rem;
}

.captImg {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 25px 0;
}

@media screen and (max-width: 768px) {
    .tradeText {
        width: 100%;
    }

    .howYOur {
        padding-top: 0;
        font-size: 48px;
    }

    .tradeText h1 {
        font-size: 45px;
    }

    .tradeText h3 {
        padding: 6px 20px;
    }

    .devidt {
        text-align: center;
        width: 100%;
        margin: 20px 0;
    }

    .captImg {
        justify-content: space-around;
    }

    .captImg img {
        width: 26%;
    }

    .tradeBg img {
        width: 100%;
    }
    .TrlBtn{
        width: 100%;
    }
    .formFlext {
        flex-direction: column;
    }
    .frokDemo{
        width: 100%;
        margin-left: 0;
    }
}