<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        
        <!-- Redirect non-www to www -->
        <rule name="Redirect to WWW" stopProcessing="true">
          <match url="(.*)" />
          <conditions>
            <add input="{HTTP_HOST}" pattern="^exportgenius\.com$" />
          </conditions>
          <action type="Redirect" url="https://www.exportgenius.com/{R:1}" redirectType="Permanent" />
        </rule>

        <!-- Reverse Proxy to Node (Next.js) -->
        <rule name="ReverseProxy" stopProcessing="true">
          <match url=".*" />
          <action type="Rewrite" url="http://localhost:3000/{R:0}" />
        </rule>

      </rules>
    </rewrite>

    <!-- Increase request size if using forms/file upload -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>

  </system.webServer>
</configuration>
