@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}



.slick-prev:before,
.slick-next:before {
  color: #000 !important;
}

.slick-prev,
.slick-next {
  top: 105% !important;
}

.slick-next {
  right: 80% !important;
}

.slick-prev {
  left: 15% !important;
}

img, svg{
  display: inline;
}