.LookingforSample {
    width: 100%;
    height: auto;
    background: #fff;
    padding: 60px 0;
}

.ExpndforSample {
    width: 80%;
    margin: 55px auto;
}

.ExpndforSample h2 {
    color: var(--Neutral-1000, #1C1F25);
    text-align: center;
    font-family: Poppins, SANS-SERIF;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
}

.ContentNdSample {
    display: flex;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
    margin: 25px 0;
    padding-top: 25px;
}

.dataSectionImg {
    display: flex;
    width: 50%;
    padding: 17.221px;
    flex-direction: column;
    align-items: flex-start;
    gap: 36.221px;
    border-radius: 8.611px;
    align-items: center;
}

.sampleContent {
    display: block;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.sampleContent p {
    color: var(--Neutral-N800, #4B5162);
    text-align: center;
    font-family: Poppins, SANS-SERIF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
}

.formSenctionSmp {
    display: flex;
    width: 50%;
    /* padding: 20px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 10px;
    /* border: 5px solid rgba(242, 242, 242, 0.62); */
    /* background: #FAFAFA; */
}

.formInputTxt {
    border-radius: 8px;
    display: flex;
    height: 60px;
    padding: 20px 30px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
    border: 1px solid #CFCFCF;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.12);
    color: #858585;
    font-family: Poppins, SANS-SERIF;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 122%;
}


@media screen and (max-width: 768px) {
    .ExpndforSample {
        width: 100%;
        margin: 30px auto;
    }

    .ExpndforSample h2 {
        font-size: 32px;
    }

    .ContentNdSample {
        flex-flow: column;
        width: 100%;
        gap: 50px;
    }

    .dataSectionImg,
    .formSenctionSmp {
        width: 100%;
        padding: 0;
    }
}