.LookineSection {
    font-family: Poppins, SANS-SERIF, sans-serif;
    width: 100%;
    padding: 40px 0;
    background: #FFF;
}

.ExpndunlockTr {
    display: inline-flex;
    align-items: center;
    gap: 50px;
    padding: 40px 0;
}

.mapImg{
    height: 134px !important;
    width: 100%;
    max-width: 306px;
}

.lingContentFrd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: var(--stack-lg, 16px);
}

.lingContentFrd h2 {
    color: var(--Neutral-1000, #1C1F25);
    font-family: Poppins, SANS-SERIF;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
    /* 41.76px */
}

.lingContentFrd p {
    color: var(--Neutral-N800, #4B5162);
    font-family: Poppins, SANS-SERIF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    opacity: 0.8;
    /* 25.6px */
}

@media screen and (max-width: 768px) {
    .ExpndunlockTr {
        flex-flow: column;
        display: flex;
    }
}