.TradeExportDtaGrph {
    background: #ffffff;
    padding: 75px 0;
    width: 100%;
}

.DtaGrphContainerImpExp {
    margin: 35px 0;
}

.DtaGrphFirst {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--stack-lg, 26px);
    align-self: stretch;
    width: 60%;
    margin: auto;
}

.DtaGrphFirst h2 {
    color: var(--Neutral-1000, #1C1F25);
    text-align: center;
    font-family: Poppins, SANS-SERIF;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 116%;
}

.DtaGrphFirst p {
    color: var(--Neutral-N800, #4B5162);
    text-align: center;
    font-family: Poppins, SANS-SERIF;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    margin-bottom: 35px;
    opacity: 0.8;
}

.DtaGrphContainerImpExp img {
    width: 100%;
}

.partGraphChart {
    display: flex;
    gap: 1rem;
    margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
    .TradeExportDtaGrph {
        padding: 34px 0;
    }

    .DtaGrphFirst {
        gap: var(--stack-lg, 15px);
        align-self: stretch;
        width: 100%;
    }

    .DtaGrphFirst h2 {
        font-size: 30px;
    }

    .partGraphChart {
        flex-flow: column;
        margin-bottom: 0;
    }
}