.caltoAction {
    background-image: linear-gradient(to right, #091f5c, #0c5e9dbf);
    padding: 30px;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

.Calltoaction-title {
    text-align: center;
    width: 100%;
    padding: 20px;
}

.Calltoaction-title h2 {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.Calltoaction-title p {
    font-weight: 400;
    font-size: 16px;
    color: #fff;
    margin-bottom: 25px;
    padding: 0;
    opacity: 0.9;
}

.scheDemoBtn {
    background: #66B167;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
    margin-right: 20px;
}

.LogonDemoBtn {
    background: #3884C7;
    padding: 10px 30px;
    border-radius: 40px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

@media (max-width: 768px) {
    .caltoAction {
        padding: 30px 0;
    }

    .Calltoaction-title {
        padding: 20px 0;
    }

    .scheDemoBtn {
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .LogonDemoBtn {
        margin-bottom: 10px;
    }
}