.GlobEmtData {
    font-family: "Poppins", sans-serif;
    background-color: #f5f5f5;
}

.unloCGlobtdta {
    /* font-size: 81px; */
    font-size: calc(1.275rem + 2.2vw);
    line-height: normal;
    color: #434343;
    font-weight: 600;
}

.FomrDentnormCrer {
    margin: 15px 0px;
    width: 100%;
    padding: 40px 40px 5px;
    background: #fff;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.aformareasent {
    padding: 0px 0 20px;
}

.formLaelCar {
    font-size: 16px;
    color: #171a31bb;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.formContrCaresd {
    border-radius: 2px;
    color: #A19D9D;
    outline: none;
    box-shadow: none;
    border-color: #A19D9D;
}

.formContrCaresd:focus {
    outline: none;
    box-shadow: none;
    border-color: #A19D9D;
}

.formLaelCarresm {
    font-size: 16px;
    color: #292929;
    font-family: "Roboto", sans-serif;
}

.reqaFrDemo {
    color: #fff;
    background-color: #3884C7;
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 15px 25px;
    border-radius: 0;
    border: 3px solid #3884C7;
    position: relative;
    letter-spacing: 0.56px;
    z-index: 1;
    transition: all .3s ease-in-out;
}
.reqaFrDemo:hover{
    background-color: #105490;
}

.modalHeader {
    background-image: linear-gradient(to right, #1d60dc, #2c6ee8);
    color: #fff;
    padding: 14px 20px;
}

.subtmBtinFrom {
    color: #fff;
    background-color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: capitalize;
    padding: 8px 22px 9px;
    border: none;
    border-radius: 0;
    position: relative;
    z-index: 1;
    transition: all 0.4s ease 0s;
}

.subtmBtinFrom:focus {
    color: #fff;
}

.subtmBtinFrom:hover {
    color: #fff;
    background: #333;
    box-shadow: 0 0 10px -3px rgba(0, 0, 0, 0.5);
}

.subtmBtinFrom:before,
.subtmBtinFrom:after {
    content: '';
    background-color: #154bbf;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform: scaleX(0);
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    transition: all 0.3s ease-in 0s;
}

.subtmBtinFrom:after {
    background-color: #154bbf;
    border-radius: 0;
    transform: scaleX(1);
}

.subtmBtinFrom:hover:before {
    border-radius: 0;
    opacity: 1;
    transform: scaleX(1);
}

.subtmBtinFrom:hover:after {
    border-radius: 50%;
    opacity: 1;
    transform: scaleX(0);
}

@media screen and (max-width: 768px) {

    .FomrDentnormCrer {
        width: 100%;
        padding: 20px 15px 5px;
        margin-top: 35px;
    }
}